<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-1 shadow">
<div class="row">
    <span class="col-lg-1">
        <img src="../../../assets//img/coronavirus.png" alt="" style="width: 36px;">
    </span>
    <span class="col-lg-6">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Novel Coronavirus (COVID-19) Situation</a>
    </span>
</div>
</nav>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-3 col-lg-2 mb-4 pl-0 pr-0 fixed pr-0 mr-0">
      <app-left-side-nav (onSideItemClick)="onSideItemClick($event)"></app-left-side-nav> 
    </div>
    <div class="col-md-9 col-lg-10 pr-0 mr-0">
      <app-main-content [itemForMainContent]="itemForMainContent"></app-main-content>
    </div>
  </div>
</div>
