<div class='container-fluid mt-2'>
  <div class="col-lg-12 col-md-12 mb-12 row pr-0 mr-0">

    <app-number-card [numberCardData]="pieGridData"
    class="row mr-0 pr-0 col-lg-8 mb-5 bg-white d-flex align-items-center shadow-sm rounded h-100"></app-number-card>
    <!-- <app-pie-grid [pieGridData]="pieGridData"
      class="row mr-0 pr-0 col-lg-8 mb-5 bg-white d-flex align-items-center shadow-sm rounded h-100"></app-pie-grid> -->
    <app-bulletin [bulletins]="bulletins"
      class="mr-0 ml-2 col-lg-4 mb-5 p-3 bg-white d-flex align-items-center shadow-sm rounded h-100"></app-bulletin>
  </div>
</div>
<div class='container-fluid pr-0 mr-0 mt-2'>
  <div class="col-lg-12 col-md-12 mb-12 row pr-0 mr-0 mt-1">
    <app-card-caousal class="row col-lg-12 mb-5 bg-white d-flex align-items-center shadow-sm rounded h-100"></app-card-caousal>
  </div>
  <div class="col-lg-12 col-md-12 mb-12 row pr-0 mr-0">
    <app-line-chart class="row col-lg-12 mb-5 bg-white d-flex align-items-center shadow-sm rounded h-100">
    </app-line-chart>
  </div>
  
</div>
