nav{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    width: 220px;
}
  
  .nav-link {
    color: #555;
    // font-weight: bold;
  }
  
  .nav-link:hover {
    background: #dedcdc;
  }

  



  