@media (max-width: 768px) {
  .carousel-inner .carousel-item>div {
    display: none;
  }

  .carousel-inner .carousel-item>div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {

  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.height-fixed{
  height: 155px;
}
.carousel-control-prev-icon{
padding: 15px;
background-size: 15px;
}
.carousel-control-next-icon{
  padding: 15px;
  background-size: 15px;
}
header{
  background-color: skyblue;
}
.font-size-p-slider{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 47px;
}
.card-height-fixed{
  height: 100%;
}
.bottom-button{
  position: absolute;
  bottom: 7px;
  right: 75px;
}