<nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow col-lg-12 col-md-12 mt-2">
    <div class="row">
        <span class="col-lg-6">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" style="font-size: 14px;">News Feeds</a>
        </span>
    </div>
</nav>
<div class="container text-center my-3 pr-0 mr-0">
  <div class="row mx-auto my-auto">
    <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
      <div class="carousel-inner w-100" role="listbox">
        <div class="carousel-item" *ngFor="let corousal of data; trackBy:index; let k = index"
          [ngClass]="k == 0 ? 'active' : ''">
          <div *ngFor="let item of corousal; trackBy:index;" class="col-md-4">
            <div class="card card-height-fixed">
              <img class="card-img-top height-fixed" [src]="item.img" alt="Card image cap">
              <div class="card-body">
                <p class="card-title font-size-p-slider">{{item.title}}</p>
              <div>
                  <a [href]="item.sources" class="btn btn-primary bottom-button">Go somewhere</a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
