@import "~bootstrap/dist/css/bootstrap.css";
*{
    font-family: poppins,Arial,sans-serif;
}
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $information-primary: mat-palette($mat-indigo);
// $information-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $information-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
// $information-theme: mat-light-theme($information-primary, $information-accent, $information-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include angular-material-theme($information-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.back-img {
    background-image: url("https://cdn.abcotvs.com/dip/images/5987754_030520-kgo-shutterstock-coronavirus-3d-render-graphic-grey-good-img.jpg");
    width: 100%;
    height: 100%;
}